:root{
  --primary:#38bdf8;
  --secondary:#9333ea;

  --bg:#050816;
  --card:#111827;
  --card-light:#1e293b;

  --text:#ffffff;
  --text-secondary:#cbd5e1;

  --radius:20px;

  --transition:0.3s ease;
}