
.about-slider {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

.about-container {
  display: flex;
  gap: 30px;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 15px 5px 25px;
}

.about-container::-webkit-scrollbar {
  display: none;
}

.about-card {
  min-width: 50%;
  max-width: 50%;
  min-height: 320px;

  background: #111827;

  padding: 40px;

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.08);

  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  transition: all 0.4s ease;
}

.about-card:hover {
  transform: translateY(-10px);

  border-color: #38bdf8;

  box-shadow: 0 0 20px rgba(56, 189, 248, 0.2);
}

.about-card h3 {
  color: #38bdf8;

  font-size: 24px;

  margin-bottom: 20px;
}

.about-card p {
  color: #cbd5e1;

  line-height: 1.8;

  margin-bottom: 14px;
}

.about-btn {
  width: 55px;
  height: 55px;

  border: none;

  border-radius: 50%;

  background: #111827;

  color: white;

  font-size: 20px;

  cursor: pointer;

  flex-shrink: 0;

  border: 1px solid rgba(255, 255, 255, 0.08);

  transition: all 0.3s ease;
}

.about-btn:hover {
  background: #38bdf8;

  transform: scale(1.1);

  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}