.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(253, 235, 158, 0.92);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(7, 122, 125, 0.15);

  box-shadow: 0 4px 20px rgba(6, 32, 43, 0.08);
  z-index: 1000;
}

/* Logo */

.logo {
  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: linear-gradient(135deg,
      #7AE2CF,
      #077A7D);

  color: #06202B;

  font-size: 22px;
  font-weight: 700;

  box-shadow: 0 6px 18px rgba(7, 122, 125, 0.25);

  transition: all 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(7, 122, 125, 0.35);
}

/* Navigation Links */

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: #06202B;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: #077A7D;
}

/* Hover Underline */

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;

  background: #077A7D;
  transition: 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hamburger */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;

  background: #06202B;
  border-radius: 5px;
}

/* Mobile */

@media (max-width: 768px) {

  .navbar {
    padding: 16px 5%;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 85px;
    right: -100%;

    width: 260px;
    height: 100vh;

    background: #FDEB9E;

    flex-direction: column;
    gap: 25px;

    padding: 40px 25px;

    box-shadow: -8px 0 25px rgba(6, 32, 43, 0.12);

    transition: 0.4s ease;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links a {
    color: #06202B;
    font-size: 17px;
  }
}