footer {
  margin-top: 80px;

  background: #06202B;

  text-align: center;

  padding: 35px 20px;

  color: #FDEB9E;

  border-top: 4px solid #077A7D;
}

footer p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #FDEB9E;
}