
.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

/* CENTER LINE */

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  background: #38bdf8;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 40px;
  height: 3px;
  background: #38bdf8;
}

.timeline-item:nth-child(odd)::before {
  right: 0;
}

.timeline-item:nth-child(even)::before {
  left: 0;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 42px;
  width: 18px;
  height: 18px;
  background: #38bdf8;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.8);
}

.timeline-item:nth-child(odd)::after {
  right: -9px;
}

.timeline-item:nth-child(even)::after {
  left: -9px;
}

.timeline-content {
  background: #111827;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.4s ease;
}

.timeline-content:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.2);
}

.timeline-content h3 {
  color: #38bdf8;
  margin-bottom: 10px;
  font-size: 24px;
}

.timeline-content h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.timeline-content p {
  color: #cbd5e1;
  line-height: 1.8;
  margin-bottom: 8px;
}
